@import 'resets';
@import 'variables';
@import 'mixins';

.App {
    background-color: $primary-color;
    font-family: $QuickSand;

    .container {
        @include displayFlex(column, center, center);
        min-height: 100vh;
        max-width: 1170px;
        padding: 20px 40px;
        margin: 0 auto;
    }
}